/* Header styles */

.headerParent {
  background-color: #d9dcd6;
  height: "20vh";
  display: flex;
  justify-content: space-between;
  padding: 2vw;
}

#header-text {
  font-size: xx-large;
  color:  #0a0a0a;
}



